<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Region2CoordinatesY</key>
	<array>
		<string>558</string>
		<string>615</string>
		<string>672</string>
		<string>699</string>
		<string>765</string>
		<string>855</string>
		<string>768</string>
		<string>885</string>
		<string>1047</string>
		<string>1215</string>
		<string>1227</string>
		<string>1311</string>
		<string>1392</string>
		<string>1176</string>
		<string>714</string>
		<string>879</string>
		<string>900</string>
		<string>948</string>
		<string>1032</string>
		<string>954</string>
		<string>1152</string>
		<string>1035</string>
		<string>1116</string>
		<string>1146</string>
		<string>1659</string>
		<string>1290</string>
		<string>1251</string>
		<string>1206</string>
		<string>1020</string>
		<string>1416</string>
		<string>1416</string>
		<string>1506</string>
		<string>1548</string>
		<string>1581</string>
		<string>1638</string>
		<string>1731</string>
		<string>1776</string>
		<string>1827</string>
		<string>1767</string>
		<string>1716</string>
		<string>1458</string>
		<string>1464</string>
		<string>1680</string>
		<string>1614</string>
		<string>1545</string>
		<string>1491</string>
		<string>1692</string>
		<string>1713</string>
	</array>
	<key>Region2CoordinatesX</key>
	<array>
		<string>1341</string>
		<string>1344</string>
		<string>1452</string>
		<string>1296</string>
		<string>1365</string>
		<string>1590</string>
		<string>1692</string>
		<string>1893</string>
		<string>2025</string>
		<string>2025</string>
		<string>1815</string>
		<string>1830</string>
		<string>1593</string>
		<string>1488</string>
		<string>1188</string>
		<string>774</string>
		<string>915</string>
		<string>762</string>
		<string>711</string>
		<string>996</string>
		<string>882</string>
		<string>1134</string>
		<string>1125</string>
		<string>1242</string>
		<string>1533</string>
		<string>1035</string>
		<string>1107</string>
		<string>1026</string>
		<string>549</string>
		<string>1077</string>
		<string>993</string>
		<string>816</string>
		<string>888</string>
		<string>951</string>
		<string>1029</string>
		<string>1197</string>
		<string>1272</string>
		<string>1359</string>
		<string>1446</string>
		<string>1371</string>
		<string>942</string>
		<string>1080</string>
		<string>1308</string>
		<string>1431</string>
		<string>1323</string>
		<string>1251</string>
		<string>1119</string>
		<string>1455</string>
	</array>
	<key>Region2place</key>
	<array>
		<string>二校区医院</string>
		<string>交通学院</string>
		<string>结构楼</string>
		<string>电力二部</string>
		<string>食品学院</string>
		<string>暖通楼</string>
		<string>市政学院</string>
		<string>城市水资源国家工程研究中心</string>
		<string>二校区文体中心</string>
		<string>建筑设计院</string>
		<string>东配楼</string>
		<string>二区主楼</string>
		<string>西配楼</string>
		<string>二校区图书馆</string>
		<string>土木学院楼</string>
		<string>成教院</string>
		<string>九食堂</string>
		<string>车库楼</string>
		<string>B7公寓</string>
		<string>B6公寓</string>
		<string>B5公寓</string>
		<string>B4公寓</string>
		<string>B3公寓</string>
		<string>B2公寓</string>
		<string>B1公寓</string>
		<string>清泽餐厅</string>
		<string>四食堂</string>
		<string>五食堂</string>
		<string>二区锅炉房</string>
		<string>计算机学院（二区）</string>
		<string>青年公寓</string>
		<string>1号楼</string>
		<string>2号楼</string>
		<string>3号楼</string>
		<string>4号楼</string>
		<string>5号楼</string>
		<string>6号楼</string>
		<string>7号楼</string>
		<string>8号楼</string>
		<string>9号楼</string>
		<string>10号楼</string>
		<string>11号楼</string>
		<string>12号楼</string>
		<string>13号楼</string>
		<string>14号楼</string>
		<string>15号楼</string>
		<string>16号楼</string>
		<string>二校区幼儿园</string>
	</array>
	<key>Region1CoordinatesY</key>
	<array>
		<string>3100</string>
		<string>2704</string>
		<string>2916</string>
		<string>2962</string>
		<string>2798</string>
		<string>2928</string>
		<string>2596</string>
		<string>2772</string>
		<string>2899</string>
		<string>3297</string>
		<string>3478</string>
		<string>2704</string>
		<string>2473</string>
		<string>2277</string>
		<string>2194</string>
		<string>2770</string>
		<string>2653</string>
		<string>2713</string>
		<string>2712</string>
		<string>3033</string>
		<string>2989</string>
		<string>2673</string>
		<string>3048</string>
		<string>3181</string>
		<string>3207</string>
		<string>3277</string>
		<string>3292</string>
		<string>3322</string>
		<string>3424</string>
		<string>3394</string>
		<string>3495</string>
		<string>3330</string>
		<string>3451</string>
		<string>3472</string>
		<string>3555</string>
		<string>3462</string>
		<string>3547</string>
		<string>3588</string>
		<string>3628</string>
		<string>3661</string>
		<string>3721</string>
		<string>4117</string>
		<string>4014</string>
		<string>4003</string>
		<string>4164</string>
		<string>4515</string>
		<string>2856</string>
		<string>2880</string>
		<string>3096</string>
		<string>3268</string>
		<string>3444</string>
		<string>2924</string>
		<string>2884</string>
		<string>2370</string>
		<string>2768</string>
		<string>2884</string>
		<string>2606</string>
		<string>3954</string>
		<string>2694</string>
		<string>2636</string>
		<string>2722</string>
		<string>2976</string>
		<string>2814</string>
		<string>2383</string>
		<string>2475</string>
		<string>2350</string>
		<string>2216</string>
		<string>2250</string>
		<string>1645</string>
		<string>2896</string>
		<string>2846</string>
		<string>2950</string>
		<string>2944</string>
		<string>2918</string>
		<string>2796</string>
		<string>2178</string>
		<string>2118</string>
		<string>2986</string>
		<string>3050</string>
		<string>2654</string>
		<string>2352</string>
		<string>2412</string>
		<string>2607</string>
		<string>2560</string>
		<string>2500</string>
		<string>2467</string>
		<string>2538</string>
		<string>2326</string>
		<string>1795</string>
		<string>1729</string>
		<string>1674</string>
		<string>1615</string>
		<string>1605</string>
		<string>1666</string>
		<string>1735</string>
		<string>1566</string>
		<string>1540</string>
		<string>1549</string>
		<string>1275</string>
		<string>1278</string>
		<string>1650</string>
		<string>1183</string>
		<string>931</string>
		<string>1152</string>
		<string>928</string>
		<string>895</string>
		<string>919</string>
		<string>1114</string>
		<string>903</string>
		<string>1065</string>
		<string>765</string>
		<string>1389</string>
		<string>1263</string>
		<string>1411</string>
		<string>1414</string>
		<string>1003</string>
	</array>
	<key>Region1CoordinatesX</key>
	<array>
		<string>2378</string>
		<string>1490</string>
		<string>3002</string>
		<string>2184</string>
		<string>3312</string>
		<string>2146</string>
		<string>2854</string>
		<string>3123</string>
		<string>2926</string>
		<string>3039</string>
		<string>3063</string>
		<string>2623</string>
		<string>2142</string>
		<string>2509</string>
		<string>2782</string>
		<string>2066</string>
		<string>2173</string>
		<string>2232</string>
		<string>2104</string>
		<string>2503</string>
		<string>2586</string>
		<string>2847</string>
		<string>2172</string>
		<string>2134</string>
		<string>2002</string>
		<string>1929</string>
		<string>1989</string>
		<string>1831</string>
		<string>1812</string>
		<string>1900</string>
		<string>2050</string>
		<string>2307</string>
		<string>1417</string>
		<string>1618</string>
		<string>1597</string>
		<string>1749</string>
		<string>1732</string>
		<string>1905</string>
		<string>1773</string>
		<string>1864</string>
		<string>2013</string>
		<string>1246</string>
		<string>1098</string>
		<string>948</string>
		<string>822</string>
		<string>975</string>
		<string>2296</string>
		<string>2574</string>
		<string>2868</string>
		<string>2618</string>
		<string>2278</string>
		<string>3268</string>
		<string>3280</string>
		<string>2464</string>
		<string>1734</string>
		<string>1900</string>
		<string>2784</string>
		<string>922</string>
		<string>2532</string>
		<string>2588</string>
		<string>2698</string>
		<string>2167</string>
		<string>2404</string>
		<string>2554</string>
		<string>2667</string>
		<string>2665</string>
		<string>2638</string>
		<string>2760</string>
		<string>2793</string>
		<string>2240</string>
		<string>2230</string>
		<string>2440</string>
		<string>2034</string>
		<string>2396</string>
		<string>2814</string>
		<string>2218</string>
		<string>2490</string>
		<string>3022</string>
		<string>2174</string>
		<string>2178</string>
		<string>2979</string>
		<string>3079</string>
		<string>1587</string>
		<string>1684</string>
		<string>1780</string>
		<string>1863</string>
		<string>1620</string>
		<string>2875</string>
		<string>2554</string>
		<string>2538</string>
		<string>2514</string>
		<string>2473</string>
		<string>2263</string>
		<string>2334</string>
		<string>2412</string>
		<string>2436</string>
		<string>2332</string>
		<string>2233</string>
		<string>2899</string>
		<string>2305</string>
		<string>2656</string>
		<string>2208</string>
		<string>2148</string>
		<string>2047</string>
		<string>2286</string>
		<string>2908</string>
		<string>2064</string>
		<string>2947</string>
		<string>2605</string>
		<string>1953</string>
		<string>2431</string>
		<string>2422</string>
		<string>2629</string>
		<string>2185</string>
		<string>2872</string>
		<string>1992</string>
	</array>
	<key>Region1place</key>
	<array>
		<string>一区图书馆</string>
		<string>一区校医院</string>
		<string>工大幼儿园</string>
		<string>留学生中心</string>
		<string>西苑宾馆</string>
		<string>学友书店</string>
		<string>锅炉中心</string>
		<string>西苑小区</string>
		<string>幼教中心</string>
		<string>神舟小区</string>
		<string>科技园</string>
		<string>派出所</string>
		<string>专家楼</string>
		<string>一区浴池</string>
		<string>一区文体中心</string>
		<string>诚意楼</string>
		<string>综合楼</string>
		<string>新技术楼</string>
		<string>网络与信息中心</string>
		<string>学子楼</string>
		<string>电力一部</string>
		<string>五系楼</string>
		<string>成教楼</string>
		<string>材料学院楼</string>
		<string>热加工楼</string>
		<string>空间技术楼</string>
		<string>逸夫楼</string>
		<string>动力楼</string>
		<string>节能楼</string>
		<string>东力楼</string>
		<string>机械楼</string>
		<string>电机楼</string>
		<string>复华小学</string>
		<string>校部楼</string>
		<string>印刷厂</string>
		<string>物资处及电子厂楼</string>
		<string>制造楼</string>
		<string>机工厂楼</string>
		<string>锻压实验室</string>
		<string>铸造实验室</string>
		<string>科技大厦</string>
		<string>土木楼</string>
		<string>博物馆</string>
		<string>建筑学院图书馆</string>
		<string>机电学院实验楼</string>
		<string>海韵商务酒店</string>
		<string>学士楼</string>
		<string>正心楼</string>
		<string>格物楼</string>
		<string>行政楼</string>
		<string>主楼</string>
		<string>理学楼</string>
		<string>理学楼阶梯教室</string>
		<string>一公寓</string>
		<string>二公寓</string>
		<string>三公寓</string>
		<string>四公寓</string>
		<string>五公寓</string>
		<string>六公寓</string>
		<string>七公寓</string>
		<string>八公寓</string>
		<string>九公寓</string>
		<string>十公寓</string>
		<string>11公寓</string>
		<string>12公寓</string>
		<string>13公寓</string>
		<string>A15公寓</string>
		<string>A16公寓</string>
		<string>十七公寓</string>
		<string>学士餐厅</string>
		<string>方便食堂</string>
		<string>学苑餐厅</string>
		<string>美食长廊</string>
		<string>学子超市</string>
		<string>体育馆</string>
		<string>一区体育场</string>
		<string>游泳馆</string>
		<string>管理学院</string>
		<string>软件学院</string>
		<string>计算机学院</string>
		<string>新贵A栋</string>
		<string>新贵B栋</string>
		<string>园丁1号楼</string>
		<string>园丁2号楼</string>
		<string>园丁3号楼</string>
		<string>园丁4号楼</string>
		<string>园丁7、6、5号楼</string>
		<string>园丁8号楼</string>
		<string>A栋</string>
		<string>B1栋</string>
		<string>B2栋</string>
		<string>B3栋</string>
		<string>C1栋</string>
		<string>C2栋</string>
		<string>C3栋</string>
		<string>D栋</string>
		<string>E1栋</string>
		<string>E2栋</string>
		<string>2A栋</string>
		<string>2B栋</string>
		<string>2C栋</string>
		<string>2D栋</string>
		<string>2E栋</string>
		<string>2F栋</string>
		<string>2G栋</string>
		<string>2H栋</string>
		<string>CG栋</string>
		<string>DL栋</string>
		<string>GC栋</string>
		<string>JQR栋</string>
		<string>KZ栋</string>
		<string>科学园公厕</string>
		<string>科学院物业</string>
		<string>科学园保卫科</string>
		<string>科学园家属楼</string>
		<string>南苑餐厅</string>
	</array>
</dict>
</plist>
