<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>regtraffic_names</key>
	<array>
		<string>哈站到哈工大</string>
		<string>机场到哈工大</string>
		<string>哈站到哈工大二学区</string>
		<string>机场到哈工大二学区</string>
	</array>
	<key>traffic_names</key>
	<array>
		<string>哈工大站(大直街正门)</string>
		<string>教化广场站(大直街正门)</string>
		<string>复华小区站(黑店侧门)</string>
		<string>哈工大二学区站(华山路门)</string>
		<string>哈工大第二学区站(黄河路正门)</string>
		<string>哈工大第二学区站(嵩山路侧门)</string>
	</array>
	<key>traffic_geos</key>
	<array>
		<string>中国,黑龙江,哈尔滨,南岗区,哈工大站</string>
		<string>中国,黑龙江,哈尔滨,南岗区,教化广场站</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华小区站</string>
		<string>中国,黑龙江,哈尔滨,南岗区,哈工大二学区站</string>
		<string>中国,黑龙江,哈尔滨,南岗区,哈工大第二学区站</string>
	</array>
	<key>cinema_geos</key>
	<array>
		<string>中国,黑龙江,哈尔滨,南岗区,东大直街哈尔滨电影院</string>
	</array>
	<key>cinema_names</key>
	<array>
		<string>哈尔滨电影院</string>
	</array>
	<key>faircut_geos</key>
	<array>
		<string>中国,黑龙江,哈尔滨,南岗区,复华四道街,金贵人美容沙龙</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华街,复华美发</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华四道街,文臣发型设计烫染店</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华四道街,星光美发沙龙烫染店</string>
		<string>中国,黑龙江,哈尔滨,南岗区,繁荣街,色彩地带形象设计沙龙</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华三道街,小乔美容沙龙</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华三道街,阿涛造型</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华三道街,颐园剪业</string>
	</array>
	<key>faircut_names</key>
	<array>
		<string>金贵人美容沙龙</string>
		<string>复华美发</string>
		<string>文臣发型设计烫染店</string>
		<string>星光美发沙龙烫染店</string>
		<string>色彩地带形象设计沙龙</string>
		<string>小乔美容沙龙</string>
		<string>阿涛造型</string>
		<string>颐园剪业</string>
	</array>
	<key>hotel_geos</key>
	<array>
		<string>中国,黑龙江,哈尔滨,南岗区,繁荣街,繁荣旅店</string>
		<string>中国,黑龙江,哈尔滨,南岗区,繁荣街,兴盛网络旅馆</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华街,佳鑫客栈</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华街,港湾旅店</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华街,会鸿达旅店</string>
		<string>中国,黑龙江,哈尔滨,南岗区,繁荣街,方舟旅店</string>
		<string>中国,黑龙江,哈尔滨,南岗区,教化街,泰山旅店</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华四道街,洋洋旅馆</string>
		<string>中国,黑龙江,哈尔滨,南岗区,繁栄街,黄金舟時尚客桟</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华四道街,小筑家旅馆</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华三道街,佳华温馨旅馆</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华三道街,福华楼旅馆</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华三道街,麒乐宇旅馆</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华三道街,露露旅店</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华三道街,盛温馨旅店</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华三道街,绿音旅馆</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华三道街,阳光旅店</string>
	</array>
	<key>hotel_names</key>
	<array>
		<string>繁荣旅店</string>
		<string>兴盛网络旅馆</string>
		<string>佳鑫客栈</string>
		<string>港湾旅店</string>
		<string>会鸿达旅店</string>
		<string>方舟旅店</string>
		<string>泰山旅店</string>
		<string>洋洋旅馆</string>
		<string>黄金舟時尚客桟</string>
		<string>小筑家旅馆</string>
		<string>佳华温馨旅馆</string>
		<string>福华楼旅馆</string>
		<string>麒乐宇旅馆</string>
		<string>露露旅店</string>
		<string>盛温馨旅店</string>
		<string>绿音旅馆</string>
		<string>阳光旅店</string>
	</array>
	<key>ktv_geos</key>
	<array>
		<string>中国,黑龙江,哈尔滨,南岗区,繁荣街,午夜香吻KTV</string>
		<string>中国,黑龙江,哈尔滨,南岗区,復華四道街,月亮城KTV</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华四道街,天籁村KTV</string>
	</array>
	<key>ktv_names</key>
	<array>
		<string>午夜香吻KTV</string>
		<string>月亮城KTV</string>
		<string>天籁村KTV</string>
	</array>
	<key>netbar_geos</key>
	<array>
		<string>中国,黑龙江,哈尔滨,南岗区,繁荣街,天宇网吧</string>
		<string>中国,黑龙江,哈尔滨,南岗区,教化街,多米网络广场</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华四道街,南极光网吧</string>
		<string>中国,黑龙江,哈尔滨,南岗区,繁荣街,嘉年网络广场</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华四道街,维鸿网络会馆</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华四道街,E通网络会馆</string>
		<string>中国,黑龙江,哈尔滨,南岗区,教化街,新空间网吧</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华三道街,超时尚网络广场</string>
	</array>
	<key>netbar_names</key>
	<array>
		<string>天宇网吧</string>
		<string>多米网络广场</string>
		<string>南极光网吧</string>
		<string>嘉年网络广场</string>
		<string>维鸿网络会馆</string>
		<string>E通网络会馆</string>
		<string>新空间网吧</string>
		<string>超时尚网络广场</string>
	</array>
	<key>other_geos</key>
	<array>
		<string>中国,黑龙江,哈尔滨,南岗区,繁荣街,军鑫洗衣行</string>
		<string>中国,黑龙江,哈尔滨,南岗区,繁荣街,老百姓大药房复华分店</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华四道街,天意台球</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华四道街,长寿堂大药房复华店</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华四道街,百年医药复华店</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华三道街,启康药店</string>
	</array>
	<key>other_names</key>
	<array>
		<string>军鑫洗衣行</string>
		<string>老百姓大药房复华分店</string>
		<string>天意台球</string>
		<string>长寿堂大药房复华店</string>
		<string>百年医药复华店</string>
		<string>启康药店</string>
	</array>
	<key>restaurant_geos</key>
	<array>
		<string>中国,黑龙江,哈尔滨,南岗区,铁路街,风味鸡脖子</string>
		<string>中国,黑龙江,哈尔滨,南岗区,贵新街,含笑筋饼</string>
		<string>中国,黑龙江,哈尔滨,南岗区,法院街,同记鱼锅</string>
		<string>中国,黑龙江,哈尔滨,南岗区,贵新街,高丽园</string>
		<string>中国,黑龙江,哈尔滨,南岗区,西大直街,雾都馋嘴楼</string>
		<string>中国,黑龙江,哈尔滨,南岗区,贵新街,金博士民族餐厅</string>
		<string>中国,黑龙江,哈尔滨,南岗区,繁荣街,宏鸣火锅复华店</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华四道街,雕刻时光酒吧</string>
		<string>中国,黑龙江,哈尔滨,南岗区,清滨路,农家乐</string>
		<string>中国,黑龙江,哈尔滨,南岗区,清滨路,泰福楼京鸭坊</string>
		<string>中国,黑龙江,哈尔滨,南岗区,清滨路,鱼酷烤全鱼</string>
		<string>中国,黑龙江,哈尔滨,南岗区,清滨路,老华西</string>
		<string>中国,黑龙江,哈尔滨,南岗区,清滨路,芙蓉湘蒸菜</string>
		<string>中国,黑龙江,哈尔滨,南岗区,清滨路,川友水煮活鱼</string>
		<string>中国,黑龙江,哈尔滨,南岗区,清滨路,丹东人家肥蚬子烤鱼</string>
		<string>中国,黑龙江,哈尔滨,南岗区,和兴路,麒麟名鱼海鲜</string>
		<string>中国,黑龙江,哈尔滨,南岗区,革新街,千纸鹤烤肉</string>
		<string>中国,黑龙江,哈尔滨,南岗区,教化街,康隆饺子</string>
	</array>
	<key>restaurant_names</key>
	<array>
		<string>风味鸡脖子</string>
		<string>含笑筋饼</string>
		<string>同记鱼锅</string>
		<string>高丽园</string>
		<string>雾都馋嘴楼</string>
		<string>金博士民族餐厅</string>
		<string>宏鸣火锅复华店</string>
		<string>雕刻时光酒吧</string>
		<string>农家乐(清滨店)</string>
		<string>泰福楼京鸭坊</string>
		<string>鱼酷烤全鱼</string>
		<string>老华西</string>
		<string>芙蓉湘蒸菜</string>
		<string>川友水煮活鱼(清滨店)</string>
		<string>丹东人家肥蚬子烤鱼(清滨路店)</string>
		<string>麒麟名鱼海鲜</string>
		<string>千纸鹤烤肉(革新店)</string>
		<string>康隆饺子</string>
	</array>
	<key>winebar_geos</key>
	<array>
		<string>中国,黑龙江,哈尔滨,南岗区,复华街,福克斯酒吧</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华四道街,雕刻时光</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华四道街,喜乐年华酒吧</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华四道街,野人谷酒吧</string>
		<string>中国,黑龙江,哈尔滨,南岗区,复华三道街,丽江酒吧</string>
	</array>
	<key>winebar_names</key>
	<array>
		<string>福克斯酒吧</string>
		<string>雕刻时光</string>
		<string>喜乐年华酒吧</string>
		<string>野人谷酒吧</string>
		<string>丽江酒吧</string>
	</array>
</dict>
</plist>
